$BACKGROUND_HEADER: rgb(78, 155, 218);
$COLOR_EMPTY: #fff;

.background-container {
  color: $COLOR_EMPTY;
  background-color: $BACKGROUND_HEADER;
  background-image: url("~/assets/background-min.jpg");
  background-size: cover;
  text-align: center;
  font-family: 'Baloo Bhaina 2';
}

.header-title {
  margin-top: 50px;
  font-size: 5rem;
}

.header-subtitle {
  margin-top: 50px;
  font-size: 2.2rem;
}

.header-separator {
  border: 2px solid $COLOR_EMPTY;
  border-radius: 5px;
  width: 33%;
}
