.header-content {
  height: 50vh;
  background: url("~/assets/background-min.jpg") no-repeat;
  background-size: cover;
  border-radius: 0 0 50% 50%;
  text-align: right;
  padding: 100px;
  color: #ffffff;

  h1 {
    font-size: 5em;
  }
}
