<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Author</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/usatchoff" class="btn-floating btn-sm btn-tw" type="button"
              role="button">Facebook <i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="https://github.com/mavedev" class="btn-floating btn-sm btn-tw" type="button" role="button">GitHub
              <i class="fab fa-github"></i></a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Kyiv-Mohyla Academy</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.ukma.edu.ua/eng/">Official NaUKMA site</a>
          </li>
          <li>
            <a href="https://www.facebook.com/naukma/">NaUKMA Facebook</a>
          </li>
          <li>
            <a href="http://fin.ukma.edu.ua/">Faculty of Informatics</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Useful links for developers</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://spring.io/">Spring Boot</a>
          </li>
          <li>
            <a href="https://angular.io/">Angular</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Copyright &copy;
    <a href="http://usheddle.ddns.net/">uSheddle</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
