// General attributes.
$color-background-header: rgb(78, 155, 218);
$color-empty: #fff;
// Relative attributes.
$diff-height-navbar: 56px;
$diff-height-header: 195px;

.background-container {
  min-height: calc(
    100vh
    - #{$diff-height-navbar}
    - #{$diff-height-header}
  );
  background-color: $color-background-header;
  background-image: url("~/assets/background-min.jpg");
  background-size: cover;
  color: $color-empty;
  text-align: center;
  font-family: 'Baloo Bhaina 2';
}

.header-title {
  margin-top: 50px;
  font-size: 5rem;
}

.header-subtitle {
  margin-top: 50px;
  font-size: 2.2rem;
}

.header-separator {
  border: 2px solid $color-empty;
  border-radius: 5px;
  width: 33%;
}

.image-demo {
  width: 700px;
  height: 700px;
}
