// Colors.
$color-background-header: rgb(78, 155, 218);
$color-empty: #fff;

// Sizes.
$height-image-demo: 50vw;
$width-image-demo: 65vw;
$width-card-default: 25vw;
$width-card-adopted: 60vw;
$margin-top-default: 50px;
$margin-image: 4em;
$border-radius-default: 5px;
$font-size-default-header: 5rem;

@media only screen and (max-width: 960px) {
  .cards-about {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .image-demo__content {
    content: url("~/assets/smartphone.png");
    height: 100vw!important;
  }

  .cards-about__card-wrapper {
    margin-top: 20px;
  }

  .card {
    min-width: $width-card-adopted;
  }
}

.background-container {
  background-color: $color-background-header;
  background-image: url("~/assets/background-min.jpg");
  background-size: cover;
  color: $color-empty;
  text-align: center;
  font-family: 'Baloo Bhaina 2';
}

.header-title {
  margin-top: $margin-top-default;
  font-size: $font-size-default-header;
}

.header-subtitle {
  margin-top: $margin-top-default;
  font-size: calc(#{$font-size-default-header} - 2.8rem);
}

.header-separator {
  border: calc(#{$border-radius-default} - 3px) solid $color-empty;
  border-radius: $border-radius-default;
  width: 33%;
}

.image-demo {
  margin-top: $margin-image;
}

.image-demo__content {
  width: $width-image-demo;
  height: $height-image-demo;
}

.cards-about {
  display: flex;
  justify-content: space-evenly;
  margin-top: $margin-top-default;
  margin-bottom: $margin-top-default;
}

.cards-about__card-wrapper {
  margin-top: calc(#{$margin-top-default} - 30px);
}

.card {
  width: $width-card-default;
}
