// General attributes.
$color-background-header: rgb(78, 155, 218);
$color-empty: #fff;

@media only screen and (max-width: 960px) {
  .cards-about {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .cards-about__card-wrapper {
    margin-top: 20px;
  }

  .card {
    min-width: 60vw;
  }
}

.background-container {
  background-color: $color-background-header;
  background-image: url("~/assets/background-min.jpg");
  background-size: cover;
  color: $color-empty;
  text-align: center;
  font-family: 'Baloo Bhaina 2';
}

.header-title {
  margin-top: 50px;
  font-size: 5rem;
}

.header-subtitle {
  margin-top: 50px;
  font-size: 2.2rem;
}

.header-separator {
  border: 2px solid $color-empty;
  border-radius: 5px;
  width: 33%;
}

.image-demo {
  margin-top: 4em;
}

.image-demo__content {
  width: 50vw;
  height: 60vh;
}

.cards-about {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cards-about__card-wrapper {
  margin-top: 20px;
}

.card {
  width: 25vw;
}
