<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark black">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">uScheddle</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item nav-item_wide">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item nav-item_wide">
        <a class="nav-link" href="#">Help</a>
      </li>
      <li class="nav-item nav-item_wide">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item nav-item_wide">
        <a class="nav-link" href="#">Contacts</a>
      </li>
    </ul>
    <!-- Links -->

    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input class="form-control" type="search" placeholder="Search ..." aria-label="Search ...">
      <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3 no-margin-left" type="submit">Search</button>
    </form>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
