<div class="py-5 min-vh-100 background-container py-5_without-padding-below">
  <div class="header-wrapper">
    <h3 class="header-title">Your schedules</h3>
  </div>
  <main class="main">
    <a href="main-request">
      <div class="gen-button-wrapper">
        <button class="btn purple-gradient btn-lg bb">
          Generate new schedule
        </button>
      </div>
    </a>
    <div class="dt-wrapper">
      <table id="main-table" class="dt-schedules table table-striped table-bordered table-sm" cellspacing="0"
        width="100%">
        <thead>
          <tr>
            <th class="th-sm">Name</th>
          </tr>
        </thead>
        <tbody>
          <!-- Here will be dynamically recieved values -->
        </tbody>
      </table>
    </div>
  </main>
</div>
