<div class="py-5 min-vh-100 background-container py-5_without-padding-below">
  <div class="header-wrapper">
    <h3 class="header-title">Generate a schedule</h3>
  </div>
  <main class="main main_centered">

    <div class="separate-input-wrapper separate-input-wrapper_tall">
      <input id="scheduleName" placeholder="Name of the schedule">
    </div>

    <form [formGroup]="mainFormGroup" class="main-form main-form_adjusted">

      <div formArrayName="coursesArray">
        <div *ngFor="let course of coursesArray.controls; let i = index" [formGroupName]="i"
          class="main-form__course-inputs main-form__course-inputs_adapted">
          <input class="main-form__item main-form__item_adopted" formControlName="name" placeholder="Course name">
          <input class="main-form__item main-form__item_adopted" formControlName="courseType"
            placeholder="Lecture or practice">
          <input class="main-form__item main-form__item_adopted" formControlName="instructors"
            placeholder="Instructors separated by commas">
          <input class="main-form__item main-form__item_adopted main-form__item_last" formControlName="hours"
            placeholder="Hours">
        </div>
      </div>

      <button class="btn aqua-gradient main-form__button main-form__button_adopted" (click)="addCourseToTheForm()">Add a
        course</button>

      <div formArrayName="classroomsArray">
        <div *ngFor="let classroom of classroomsArray.controls; let i = index" [formGroupName]="i"
          class="main-form__course-inputs main-form__course-inputs_adapted">
          <input class="main-form__item main-form__item_adopted" formControlName="classroomNumber"
            placeholder="Classroom number">
          <input class="main-form__item main-form__item_adopted main-form__item_last" formControlName="classroomType"
            type="checkbox" value="Lecture-suitable or not">
        </div>
      </div>

      <button class="btn aqua-gradient main-form__button main-form__button_adopted"
        (click)="addClassroomToTheForm()">Add a classroom</button>
    </form>

    <!-- <div class="generate-form-wrapper generate-form-wrapper_centered">
      <h4 class="generate-form-wrapper__title">
        Fill the information so that we are able to generate a schedule for you
      </h4>
    </div>

    <div class="form-wrapper">
      <div class="md-form md-form_non-sticky">
        <div class="label-wrapper_tall">
          <label for="form58">Course name:</label>
        </div>
        <br>
        <input mdbInput placeholder="Name" type="text" id="form-course-name"
          class="form-control md-form__form-control-wide">
      </div>
    </div> -->

    <!-- <div class="form-wrapper">
      <div class="md-form md-form_non-sticky">
        <div class="label-wrapper_tall">
          <label for="form58">Course description:</label>
        </div>
        <br>
        <input mdbInput placeholder="Description" type="text" id="form-course-description"
          class="form-control md-form__form-control-wide">
      </div>
    </div> -->

    <button (click)="sendGenerateRequest()" class="btn purple-gradient btn-lg btn_tall">
      Generate
    </button>

    <div class="error-text-wrapper">
      <p>{{ errorText }}</p>
    </div>

  </main>
</div>
