<div class="py-5 min-vh-100 background-container py-5_without-padding-below">
  <div class="header-wrapper">
    <h3 class="header-title">Generate a schedule</h3>
  </div>
  <main class="main main_centered">

    <form [formGroup]="mainFormGroup">
      <div>
        <input formControlName="scheduleName" placeholder="Name of the schedule">
      </div>
      <button (click)="addCourseToTheForm()">Add course</button>
      <div fromArrayName="coursesArray">
        <div *ngFor="let course of coursesArray.controls; let i = index" [formGroupName]="i">
          <input formControlName="name" placeholder="Course name">
          <input formControlName="courseType" placeholder="Lecture or practice">
          <input formControlName="instructors" placeholder="Instructors separated by commas">
          <input formControlName="hours" placeholder="Hours">
        </div>
      </div>
    </form>

    <!-- <div class="generate-form-wrapper generate-form-wrapper_centered">
      <h4 class="generate-form-wrapper__title">
        Fill the information so that we are able to generate a schedule for you
      </h4>
    </div>

    <div class="form-wrapper">
      <div class="md-form md-form_non-sticky">
        <div class="label-wrapper_tall">
          <label for="form58">Course name:</label>
        </div>
        <br>
        <input mdbInput placeholder="Name" type="text" id="form-course-name"
          class="form-control md-form__form-control-wide">
      </div>
    </div> -->

    <!-- <div class="form-wrapper">
      <div class="md-form md-form_non-sticky">
        <div class="label-wrapper_tall">
          <label for="form58">Course description:</label>
        </div>
        <br>
        <input mdbInput placeholder="Description" type="text" id="form-course-description"
          class="form-control md-form__form-control-wide">
      </div>
    </div> -->

    <button (click)="sendGenerateRequest()" class="btn purple-gradient btn-lg btn_tall">
      Generate
    </button>

    <div class="error-text-wrapper">
      <p>{{ errorText }}</p>
    </div>

  </main>
</div>
