<div class="py-5 min-vh-100 background-container py-5_without-padding-below">
  <div class="header-wrapper">
    <h3 class="header-title">Generate a schedule</h3>
  </div>
  <main class="main main_centered">

    <form [formGroup]="mainFormGroup">
      <div class="md-form md-form_adjusted">
        <div class="form-control separate-input-wrapper">
          <input formControlName="scheduleName" class="separate-input-wrapper__item_wide" id="scheduleName"
            placeholder="Name of the schedule">
        </div>

        <div class="form-control separate-input-wrapper separate-input-wrapper_tall">
          <input formControlName="classesInDay" class="separate-input-wrapper__item_wide" id="students"
            placeholder="Classes in a day">
        </div>

        <div class="form-control separate-input-wrapper separate-input-wrapper_tall">
          <input formControlName="weeks" class="separate-input-wrapper__item_wide" id="students" placeholder="Weeks">
        </div>

        <div class="form-control separate-input-wrapper separate-input-wrapper_tall">
          <input formControlName="minInGroup" class="separate-input-wrapper__item_wide" id="min-in-group"
            placeholder="Min students in one group (min 10)">
        </div>
      </div>
    </form>

    <form [formGroup]="dynamicFormGroup" class="dynamic-form dynamic-form_adjusted">

      <div formArrayName="coursesArray">
        <div *ngFor="let course of coursesArray.controls; let i = index" [formGroupName]="i"
          class="dynamic-form__course-inputs dynamic-form__course-inputs_adapted">
          <input class="dynamic-form__item dynamic-form__item_adopted" formControlName="courseName"
            placeholder="Course name">
          <div class="form-check form-check_without-spacing">
            <input formControlName="isLecture" type="checkbox" class="form-check-input">
            <label class="form-check-label form-check__label">Is lecture</label>
          </div>
          <input class="dynamic-form__item dynamic-form__item_adopted" formControlName="courseInstructors"
            placeholder="Instructors separated by commas">
          <input class="dynamic-form__item dynamic-form__item_adopted dynamic-form__item_last"
            formControlName="courseClasses" placeholder="Classes amount">
          <input class="dynamic-form__item dynamic-form__item_adopted dynamic-form__item_last"
            formControlName="courseStudents" placeholder="Students listening">
        </div>
      </div>

      <button class="btn aqua-gradient dynamic-form__button dynamic-form__button_adopted"
        (click)="addCourseToTheForm()">Add a
        course</button>

      <div formArrayName="classroomsArray">
        <div *ngFor="let classroom of classroomsArray.controls; let i = index" [formGroupName]="i"
          class="dynamic-form__course-inputs dynamic-form__course-inputs_adapted">
          <input class="dynamic-form__item dynamic-form__item_adopted" formControlName="classroomNumber"
            placeholder="Classroom number">
          <div class="form-check form-check_without-spacing">
            <input formControlName="isLectureSuitable" type="checkbox" class="form-check-input">
            <label class="form-check-label form-check__label">Lecture-suitable</label>
          </div>
        </div>
      </div>

      <button class="btn aqua-gradient dynamic-form__button dynamic-form__button_adopted"
        (click)="addClassroomToTheForm()">Add a classroom</button>
    </form>

    <button (click)="sendGenerateRequest()" class="btn purple-gradient btn-lg btn_tall">
      Generate
    </button>

    <div class="error-text-wrapper">
      <p>{{ errorText }}</p>
    </div>

  </main>
</div>
