// Colors.
$color-background-header: rgb(78, 155, 218);
$color-empty: #fff;
$color-card-background: #408AD2;

// Sizes.
$margin-top-default: 50px;
$border-radius-default: 5px;
$button-width-default: 180px;
$font-size-default-header: 2rem;

@media only screen and(min-width: 920px) {
  .tables-wrapper {
    margin-left: 100px;
  }
}

.background-container {
  background-color: $color-background-header;
  background-image: url("~/assets/mx2-min.jpg");
  background-size: cover;
  color: $color-empty;
  text-align: left;
  font-family: 'Baloo Bhaina 2';
  padding-top: 0!important;
}

.header-wrapper {
  background-color: rgba($color: #000000, $alpha: .5);
  padding-top: $margin-top-default;
  padding-bottom: $margin-top-default;
  padding-left: $margin-top-default;
}

.header-title {
  font-size: $font-size-default-header;
}

.main {
  background-color: $color-empty;
  min-height: 100vh;
}

.main_warn {
  color: red;
  text-align: center;
  padding-top: $margin-top-default;
}

.py-5_without-padding-below {
  padding-bottom: 0!important;
}

.dt-wrapper {
  display: flex;
  justify-content: center;
}

.dt-wrapper__spaced {
  padding-top: $margin-top-default;
}

.tables-wrapper {
  padding-bottom: calc(#{$margin-top-default} * 2);
}

.schedule-table {
  color: #000000;
  display: flex;
  justify-content: center;
}

.button-wrapper_with-spaces {
  padding-bottom: calc(#{$margin-top-default} * 2);
}

.btn_bold {
  font-weight: bold;
  text-transform: uppercase;
  width: $button-width-default;
}
