<div class="py-5 min-vh-100 background-container py-5_without-padding-below">
  <div class="header-wrapper">
    <h3 class="header-title">View schedule</h3>
  </div>
  <main class="main">
    <div id="t1" class="dt-wrapper dt-wrapper__spaced">
      <div class="table-content">
        <table class="table table-borded table-responsive table-striped " id="table-list">
          <thead class="table-dark">
            <tr>
              <th>Name</th>
              <th>Gental</th>
              <th>eMail</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>James</td>
              <td>Male</td>
              <td>jhsdfgh@hotmail.com</td>
            </tr>
            <tr>
              <td>Sams</td>
              <td>Male</td>
              <td>hhfdfg@hotmail.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Female</td>
              <td>vccch@gmail.com</td>
            </tr>
            <tr>
              <td>Ashly</td>
              <td>Female</td>
              <td>asss@gmail.com</td>
            </tr>
            <tr>
              <td>Eden</td>
              <td>Male</td>
              <td>edd@hotmail.com</td>
            </tr>
            <tr>
              <td>Daisy</td>
              <td>Female</td>
              <td>hhdf@gmail.com</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
